<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Gestión de usuarios
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
<form [formGroup]="myForm" (ngSubmit)="saveData()">
  <ion-list>
    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
      <ion-label stacked>Usuario:</ion-label>
      <ion-input formControlName="usuario" type="text" placeholder="Nombre de usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
      <ion-label stacked>Nombre:</ion-label>
      <ion-input formControlName="nombre" type="text" placeholder="Nombre y Apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
      <ion-label stacked>contraseña:</ion-label>
      <ion-input formControlName="password1" type="text" placeholder="Contraseña"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
      <ion-label stacked>Repetir contraseña:</ion-label>
      <ion-input formControlName="password2" type="text" placeholder="Repetir contraseña"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
      <ion-label stacked>Seleccionar Roles</ion-label>
      <ion-select formControlName="roles" multiple="false">
        <ion-option *ngFor="let i of arregloRoles" value="{{i.id}}">{{i.nombre}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <ion-label stacked>Seleccionar carrito</ion-label>
        <ion-select formControlName="sucursales" multiple="false">
          <ion-option *ngFor="let x of arregloCarrito" value="{{x.id}}">{{x.nombre}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
          <ion-icon name="person" item-start></ion-icon>
          <ion-label >Visualizar Menú</ion-label>
        <ion-checkbox formControlName="menu" color="primary" ></ion-checkbox>
      </ion-item>
      <ion-item>
          <ion-icon name="person" item-start></ion-icon>
          <ion-label >Visualizar inicio</ion-label>
        <ion-checkbox formControlName="inicio" color="primary" ></ion-checkbox>
      </ion-item>
      <ion-item>
          <ion-icon name="person" item-start></ion-icon>
          <ion-label >Visualizar cuentas</ion-label>
        <ion-checkbox formControlName="cuentas" color="primary" ></ion-checkbox>
      </ion-item>
      <ion-item>
          <ion-icon name="person" item-start></ion-icon>
          <ion-label >Visualizar barra</ion-label>
        <ion-checkbox formControlName="barra" color="primary" ></ion-checkbox>
      </ion-item>
      <ion-item>
          <ion-icon name="person" item-start></ion-icon>
          <ion-label >Visualizar cocina</ion-label>
        <ion-checkbox formControlName="cocina" color="primary" ></ion-checkbox>
      </ion-item>
      <ion-item>
          <ion-icon name="person" item-start></ion-icon>
          <ion-label >Visualizar transacciones</ion-label>
        <ion-checkbox formControlName="transacciones" color="primary" ></ion-checkbox>
      </ion-item>
      <ion-list>
        <ion-list-header color="gris" style="text-align: center">
           -- Sección menu --
          </ion-list-header>
        <ion-item *ngFor="let auxitem of objMenu.menu">
          <ion-avatar item-start>
            <img src="../../assets/imgs/menuicon.jpg">
          </ion-avatar>
          <h2><strong>{{auxitem.nombre}}</strong></h2>
        </ion-item>
    </ion-list>
      <ion-item>
        <ion-label style="TEXT-ALIGN: RIGHT; color: #ff3a52; font-weight: 500;">SUBMENU: </ion-label>
        <button (click)="agregarSubmenu()" item-end style="width:10%" ion-button icon-only color="light" type="button">

          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-item>
  </ion-list>
  <div padding>
    <button ion-button block type="submit" [disabled]="!myForm.valid">{{boton}}</button>
  </div>
</form>
</ion-content>