page-catalogos {
  .fondo{

    background: #f3f3f3;
}

.divs{
  background: white;
  text-align: center;
  color:gray;
  border-radius: 10%;
}

.divs img{
    border-radius: 50%;
    height: 50%;
    margin-top: 3px;
    height: 70px;
  }

h3{
  color:#005c8a
}
.background{
background-image: url('../../assets/imgs/catalogoswallpaper.jpg');
height: 30%;
background-size: cover;
}
  }