page-productoscombos-add {
    .sinimagen{
        background: #ff3a52;
        color: white;
        text-align: center;
        padding: 10px;
      }
    
      .conimagen{
        background: #3fb765;
        color: white;
        text-align: center;
        padding: 10px;
      }
}
