<ion-header>
  <ion-navbar color="primary">
    <ion-title>Detalle Cuenta</ion-title>
    <ion-buttons left>
      <button (click)="salir()" ion-button icon-end icon-only>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar mode="md" color="primary">
    <ion-segment #segments mode="md" [(ngModel)]="page" color="white">
      <ion-segment-button value="0" (click)="selectedTab(0)">
        Agregar a la orden
      </ion-segment-button>
      <ion-segment-button value="1" (click)="selectedTab(1)">
        Ver Orden
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides #slider (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <ion-content>
          <div cards>

              <div class="grid-full">
                <ion-row>
                  <ion-col *ngFor = "let i of arreglo" (click) = "agregar(i,1)">
                    <ion-card color="verdesito">
                      <h4 orange><strong class="fuente">{{i.nombre}}</strong></h4>
                    </ion-card>
                  </ion-col> 
                  <ion-col  (click) = "agregarCombo('combo')">
                    <ion-card color="verdesito">
                      <h4 orange><strong class="fuente">Combos</strong></h4>
                    </ion-card>
                  </ion-col> 
                  <ion-col  (click) = "agregarPromocion('promocion')">
                    <ion-card color="verdesito">
                      <h4 orange><strong class="fuente">Promociones</strong></h4>
                    </ion-card>
                  </ion-col>          
                </ion-row>
              </div>          
            </div>
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-content>
        <ion-grid class="fondo letras">
          <ion-row *ngFor="let i of detalle">
            <ion-col col-5>
              {{i.nombre}}
            </ion-col>
            <ion-col col-2 *ngIf="!i.servido">
              <button (click)="modificaCuenta(i)" style="top: -10px;" ion-button icon-only color="amarillo">
                <ion-icon name="brush"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-2 *ngIf="i.servido">
              <button *ngIf="!i.cancelado" (click)="cancelardetalle(i)" style="top: -10px;" ion-button icon-only color="success">
                <ion-icon name="checkmark"></ion-icon>
              </button>
              <button *ngIf="i.cancelado"  style="top: -10px;" ion-button icon-only color="danger">
                <ion-icon name="close"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-2>
              {{i.cantidad}}
            </ion-col>
            <ion-col>
              {{(i.cantidad * i.precio) | currency}}
            </ion-col>
          </ion-row>
          <ion-row style="background: #caefe5;font-size: 115%; color: #c50101;">
              <ion-col col-9 style="text-align: right; ">
                  <strong>Total:</strong>
              </ion-col>
              <ion-col >
                  <strong>{{total | currency}}</strong>
              </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar color="gris">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>